<footer class="border-t border-slate-200 dark:border-neutral-600 bg-white dark:bg-neutral-900">
    <div class="mx-auto max-w-6xl px-4 py-6 text-sm text-slate-500 dark:text-slate-200 flex items-center justify-between">
        <span>© <span id="year"></span> MyCalendar • Demo</span>
        <span>Built for class use only</span>
        <div id="lightSwitch" class="flex justify-between items-center bg-gray-300 dark:bg-neutral-600 border border-gray-300 dark:border-neutral-600 rounded-full cursor-pointer select-none">
            <div id="light" class="p-2">
                ☀️
            </div>
            <div id="dark" class="p-2"> 
                🌙
            </div>
        </div>
    </div>
</footer>